@model IEnumerable<Movies.Domain.Movie>

<div>
    @if (Model != null && Model.Any())
    {
        <h1>Movies</h1>
        @foreach(var movie in Model)
        {
            <div>
                <h2>@movie.Title</h2>
                <div>
                    <iframe width="560" height="315" src="@movie.TrailerVideoUrl"  frameborder="0" ></iframe>
                </div>
            </div>
        }

    }
</div>